@model string

@{
    ViewData["Title"] = "GetQrCodeForCompanySite";
}

<h1>GetQrCodeForCompanySite</h1>


@Model

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="qrCodeData" data-url="@Model"></div>

<div id="qrCode"></ div >
