
<h1>Twoja subskrypcja została anulowana</h1>

<br />
<br />

<p>Twoja subskrypcja została pomyślnie anulowana. Chcielibyśmy poinformować, że pomimo anulowania, subskrypcja pozostanie aktywna do @(ViewBag.TimeExpired), aby zapewnić Ci ciągłość dostępu do naszych usług.</p>

<p>Jeśli zdecydujesz się wznowić automatyczne odnowienie subskrypcji przed upływem tego okresu, proces anulowania zostanie przerwany, a subskrypcja będzie kontynuowana bez przerwy. W ten sposób nie stracisz żadnych korzyści związanych z naszymi usługami.</p>

<p>Dziękujemy za korzystanie z naszych usług i mamy nadzieję, że zdecydujesz się pozostać z nami na dłużej. Jeśli masz jakiekolwiek pytania lub potrzebujesz pomocy, nasz zespół wsparcia jest do Twojej dyspozycji.</p>