@model List<SchiftPlanner.Models.Subs.Subscriptions>;




    @foreach(var sub in Model)
    {
        <div>
            @sub.StartDate - @sub.EndDate
        </div>

         <form method="get" asp-action="ManageSub" asp-controller="Subs">
            <input type="hidden" id="Id_Company" name="Id_Company" value="@sub.Id_Company" />
            <button type="submit">Zarządzaj</button>
        </form>
        <br/>
    }




