@model List<SchiftPlanner.Models.Subs.Subscriptions>;




    @foreach(var sub in Model)
    {
        <div>
            <div>
            @sub.Id_Company
            </div>
        
            <div>
            @sub.StartDate - @sub.EndDate;
            </div>
        </div>

        <a asp-controller="Subs" asp-action="ManageSub" asp-route-id="@sub">Manage This Subscription</a>
    }




