@model List<SchiftPlanner.Models.Subs.Subscriptions>;




    @foreach(var sub in Model)
    {
        <div>
            <div>
            @sub.Id_Company
            </div>
        

            <div>
                    
            @sub.StartDate - @sub.EndDate;
            </div>
        </div>



    <form method="get" asp-action="ManageSub" asp-controller="Subs">
            <input type="hidden" id="subscrption" name="subscrption" value="@sub" />
        <button type="submit">Zarządzaj subskrypcją</button>
    </form>
    }




